//#define PJ_CONFIG_IPHONE 1
#define PJMEDIA_HAS_VIDEO             1
#define PJMEDIA_HAS_FFMPEG            1
#define PJ_HAS_IPV6 1
#define PJSIP_HAS_DIGEST_AKA_AUTH 1
#define PJ_HAS_SSL_SOCK 1
#define PJSUA_MAX_CALLS 12
#define PJ_ICE_MAX_CAND 32
#define PJ_ICE_MAX_CHECKS (PJ_ICE_MAX_CAND * 16)
#define PJSIP_MAX_PKT_LEN 12288
#define	PJMEDIA_MAX_SDP_BANDW 4
#define PJMEDIA_MAX_SDP_FMT 64
#define PJMEDIA_MAX_SDP_ATTR  (PJMEDIA_MAX_SDP_FMT * 2 + 4)
#define PJMEDIA_MAX_SDP_MEDIA 32
#include <pj/config_site_sample.h>